{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<!-- Login form -->
<form method="POST">
  {{ form.hidden_tag() }}
  <!-- Flask-WTF CSRF protection and hidden inputs -->

  <!-- Username field -->
  <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
    {% for error in form.username.errors %}
      <span class="error">{{ error }}</span>
    {% endfor %}
  </p>

  <!-- Password field -->
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
    {% for error in form.username.errors %}
          <span class="error">{{ error }}</span>
    {% endfor %}
  </p>

  <!-- Submit button -->
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}